In [1]:
import pandas as pd

In [18]:
df=pd.read_excel('../data/multi_asset_etf_data.xlsx', sheet_name=3)

In [21]:
df

,Date,BWX,DBC,EEM,EFA,HYG,IEF,IYR,PSP,QAI,SPY,TIP
0,2009-04-30,0.008441,-0.001553,0.155030,0.114637,0.137907,-0.028004,0.295598,0.229650,0.022329,0.098793,-0.018505
1,2009-05-31,0.054143,0.163134,0.159871,0.132389,0.029026,-0.020303,0.023198,0.054363,0.028336,0.058925,0.020437
2,2009-06-30,0.004550,-0.026858,-0.023094,-0.014648,0.032919,-0.006170,-0.025462,0.041443,-0.004035,-0.001254,0.001383
3,2009-07-31,0.031312,0.018595,0.110173,0.100442,0.069217,0.008344,0.105826,0.143274,0.015353,0.074633,0.000906
4,2009-08-31,0.007193,-0.040800,-0.013571,0.044595,-0.017404,0.007199,0.131504,0.032977,-0.004586,0.036504,0.007979
...,...,...,...,...,...,...,...,...,...,...,...,...
168,2023-04-30,-0.005609,-0.010679,-0.011460,0.026266,-0.001076,0.005051,0.006090,0.031522,0.002038,0.012878,-0.002579
169,2023-05-31,-0.029213,-0.067345,-0.027276,-0.043324,-0.015567,-0.017636,-0.043519,-0.022374,-0.009725,0.001363,-0.015214
170,2023-06-30,0.003433,0.024730,0.039240,0.039952,0.013053,-0.017301,0.052634,0.042028,0.017877,0.060051,-0.008147
171,2023-07-31,0.005978,0.083389,0.056579,0.023199,0.007320,-0.010352,0.013613,0.060803,0.015608,0.028898,-0.003425
172,2023-08-31,-0.030097,-0.011945,-0.058835,-0.039836,-0.001745,-0.013545,-0.029459,-0.040854,-0.006219,-0.019057,-0.014430