In [7]:
import pandas as pd
from Functions import *

In [4]:
df=pd.read_excel('../data/dfa_analysis_data.xlsx',sheet_name='factors')

In [5]:
df

           Date  Mkt-RF     SMB     HML      RF
0    1926-07-31  0.0296 -0.0256 -0.0243  0.0022
1    1926-08-31  0.0264 -0.0117  0.0382  0.0025
2    1926-09-30  0.0036 -0.0140  0.0013  0.0023
3    1926-10-31 -0.0324 -0.0009  0.0070  0.0032
4    1926-11-30  0.0253 -0.0010 -0.0051  0.0031
...         ...     ...     ...     ...     ...
1160 2023-03-31  0.0251 -0.0551 -0.0885  0.0036
1161 2023-04-30  0.0061 -0.0335 -0.0004  0.0035
1162 2023-05-31  0.0035  0.0161 -0.0772  0.0036
1163 2023-06-30  0.0646  0.0154 -0.0026  0.0040
1164 2023-07-31  0.0321  0.0207  0.0413  0.0045

[1165 rows x 5 columns]